{% extends "layout.html.twig" %}

{% block title %}Politik{% endblock %}

{% block content %}
  {% include "menu.html.twig" %}
  <div class="container-fluid">
    <div class="row" id="homeImage">
      <div class="col-sm-offset-1 col-sm-10">
        <div style="text-align: center;">
          <img class="hidden-xs" src="/images/politikly-white.png" style="width: 150px; margin-top: 20px;">
          <h1>Quelle est votre question?</h1>
        </div>
        <div class="row">
          <form id="ask-form">
            <div class="form-group" style="margin-bottom: 20px;">
              <div class="col-sm-offset-2 col-sm-4 col-xs-12" style="margin-top: 15px;">
                <label class="formLabel">Ma question s'adresse à:</label><br>
                <select name="target">
                  <option value="" disabled selected>Choisissez un destinataire</option>
                  {% for cand in candidates %}
                    <option value="{{ loop.index0 }}">{{cand}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-4 col-xs-12" style="margin-top: 15px;">
                <label class="formLabel">Ma question concerne:</label><br>
                <select name="category">
                  <option value="" disabled selected>Choisissez une thématique</option>
                  {% for cat in categories %}
                    <option value="{{ loop.index0 }}">{{cat}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-offset-2 col-sm-8 col-xs-12" style="margin-top: 15px;">
                <label class="formLabel">Ma question:</label><br>
                <textarea class="form-control" rows="4" name="text" max="200" placeholder="Tapez votre message (max. 200 caractères)" style="resize: none;" required></textarea>
              </div>
            </div>
            <div style="text-align: center; clear: both;">
              <button type="submit" class="btn"><img src="/images/publierblanc.png" style="width: 20px; height: 20px;"> Publier</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
    <div class="row" style="margin: 70px 0 30px 0;">
      <div class="col-sm-offset-1 col-sm-10">
        <div class="row">
          <div class="col-xs-12" style="text-align: center; margin-bottom: 40px;">
            <h1 class="bigTitle">LES QUESTIONS</h1>
            <h3 class="smallTitle">DE LA SEMAINE</h3>
          </div>
          <div class="col-sm-4" style="text-align: center; padding: 0 30px; margin-bottom: 40px;">
            <div class="topBoxes">
              <div style="text-align: left; border-bottom: solid 2px; margin-bottom: 10px; padding-bottom: 5px;"><img src="/images/cat-{{ questions[0].category }}.png" style="width: 24px; height: 24px;"> <span class="categoryTitle">{{ categories[questions[0].category] }}</span></div>
              <div><span class="smallText">POUR</span></div>
              <div><span class="candidateName"><img src="/images/can-{{ questions[0].target }}.png" style="width: 20px; height: 20px;"> {{ candidates[questions[0].target] }}</span></div>
              <div style="padding: 5% 0;"><h4 style="word-break: break-word;">&ldquo;{{ questions[0].text }}&rdquo;</h4></div>
            </div>
            <button id="q-button-{{ questions[0].id }}" type="button" class="btn btnUncheck" style="margin-top: 10px; width: 100px;" onclick="rateQuestion({{ questions[0].id }})"><strong id="q-rate-{{ questions[0].id }}">{{ questions[0].rate }}</strong> <img src="/images/check.png" style="width: 20px; height: 20px;"></button>
          </div>
          <div class="col-sm-4" style="text-align: center; padding: 0 30px; margin-bottom: 40px;">
            <div class="topBoxes">
              <div style="text-align: left; border-bottom: solid 2px; margin-bottom: 10px; padding-bottom: 5px;"><img src="/images/cat-{{ questions[1].category }}.png" style="width: 24px; height: 24px;"> <span class="categoryTitle">{{ categories[questions[1].category] }}</span></div>
              <div><span class="smallText">POUR</span></div>
              <div><span class="candidateName"><img src="/images/can-{{ questions[1].target }}.png" style="width: 20px; height: 20px;"> {{ candidates[questions[1].target] }}</span></div>
              <div style="padding: 5% 0;"><h4 style="word-break: break-word;">&ldquo;{{ questions[1].text }}&rdquo;</h4></div>
            </div>
            <button id="q-button-{{ questions[1].id }}" type="button" class="btn btnUncheck" style="margin-top: 10px; width: 100px;" onclick="rateQuestion({{ questions[1].id }})"><strong id="q-rate-{{ questions[1].id }}">{{ questions[1].rate }}</strong> <img src="/images/check.png" style="width: 20px; height: 20px;"></button>
          </div>
          <div class="col-sm-4" style="text-align: center; padding: 0 30px; margin-bottom: 40px;">
            <div class="topBoxes">
              <div style="text-align: left; border-bottom: solid 2px; margin-bottom: 10px; padding-bottom: 5px;"><img src="/images/cat-{{ questions[2].category }}.png" style="width: 24px; height: 24px;"> <span class="categoryTitle">{{ categories[questions[2].category] }}</span></div>
              <div><span class="smallText">POUR</span></div>
              <div><span class="candidateName"><img src="/images/can-{{ questions[2].target }}.png" style="width: 20px; height: 20px;"> {{ candidates[questions[2].target] }}</span></div>
              <div style="padding: 5% 0;"><h4 style="word-break: break-word;">&ldquo;{{ questions[2].text }}&rdquo;</h4></div>
            </div>
            <button id="q-button-{{ questions[2].id }}" type="button" class="btn btnUncheck" style="margin-top: 10px; width: 100px;" onclick="rateQuestion({{ questions[2].id }})"><strong id="q-rate-{{ questions[2].id }}">{{ questions[2].rate }}</strong> <img src="/images/check.png" style="width: 20px; height: 20px;"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="answersContainer">
      <div class="col-sm-offset-1 col-sm-10">
        <div class="row">
          <div class="col-xs-12" style="text-align: center; margin-bottom: 40px; margin-top: 20px;">
            <h1 class="bigTitle">LES REPONSES</h1>
            <h3 class="smallTitle">DE LA SEMAINE</h3>
          </div>
          <div class="col-sm-4" style="text-align: center; padding: 0 30px; margin-bottom: 40px;">
            <img src="/images/ans-1.png" style="width: 256px; height: 256px;">
          </div>
          <div class="col-sm-4" style="text-align: center; padding: 0 30px; margin-bottom: 40px;">
            <img src="/images/ans-2.png" style="width: 256px; height: 256px;">
          </div>
          <div class="col-sm-4" style="text-align: center; padding: 0 30px; margin-bottom: 40px;">
            <img src="/images/ans-3.png" style="width: 256px; height: 256px;">
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}